
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  display: flex;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #5ae048;
  cursor: pointer;
  color: white;
  transition: border-color 0.25s;
  align-items: end;
  margin-left: 15px;
}
button:hover {
  border-color: #0bba23;
  border-width: 2px;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

